* {
  margin: 0px;
  box-sizing: border-box;
}

main {
  height: 538px;
  background: url(./mountain.png);
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
}

.items {
  display: flex;
  max-width: 100vw;
  min-width: 1000px;
}

.products {
  width: 100%;
}

.item {
  margin: 0.1em;
}

.large-img {
  margin-top: 135px;
}

.story {
  font-size: 25px;
  padding-top: 20px;
  font-weight: 100;
  min-width: 1000px;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.foot-text {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: gray;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}

nav {
  background-image: linear-gradient(rgb(79, 78, 78) 50%, rgb(97, 96, 96) 50%);
  width: 70vw;
  position: absolute;
  border-radius: 5px;
  left: 15%;
  top: 15%;
  height: 40px;
  min-width: 1000px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-elements {
  display: inline-block;
  width: 10%;
  padding-top: 0.5%;
}

.img-element {
  width: 5%;
  padding-right: 7%;
}

input {
  background: linear-gradient(rgb(79, 78, 78) 50%, rgb(97, 96, 96) 50%);
  border: 1px solid black;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  padding-left: 10px;
  margin-left: 20%;
  color: white;
  width: 150%;
}