* {
  margin: 0px;
  box-sizing: border-box;
}

main {
  height: 538px;
  background: url(https://nickmwangemi.github.io/apple-clone/assets/images/background-img.jpg);
  background-position: 0% 100%;
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif;
}

.items {
  display: flex;
  max-width: 100vw;
  min-width: 1000px;
}

.products {
  width: 100%;
}

.item {
  margin: 0.1em;
}

.large-img {
  margin-top: 128px;
}

.story {
  font-size: 25px;
  padding-top: 20px;
  font-weight: 100;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  width: 80%;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.foot-text {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: gray;
}

a {
  text-decoration: none;
  color: rgb(0, 136, 204);
}